input/single_clip/*
!input/single_clip/*md
input/data_set/*/*/*.ogg
input/data_set/*/*/*.wav
output/mono_audio/*.wav
output/prediction_audio/*.wav
output/prediction_spectrograms/*.jpg
output/prediction_image/*.jpg
output/temp_files/*.wav
